# Temp files
*~
.directory
*.kate-swp
*.swp
.DS_Store
Thumbs.db

# Backup files
*.bak
*.old

# Build output
/build
/out

# Legacy qmake artifacts
/.qmake.stash
*.pro.user
*.pro.user.*

# Generated translation files
/src/translations/*.qm
